@import "../../variables.scss";

.nav {
  width: 100%;
}

.HomePage__button__button {
  position: absolute;
  left: 72.4%;
  bottom: 92.5%;
  font-size: 8px;
  background-color: black;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-size: 0.8em;
}

.card1 {
  width: 100%;
}
.incontournables {
  width: 100%;
}

.boxButton {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 5%;
  margin: -0.5em 10em 2em 10em;
  gap: 1.3em;
}
.button {
  background-color: rgb(97, 97, 97);
  border: none;
  padding: 1.5em 6.81em;
  color: white;
  font-size: 12px;

  // margin-right: 16px;
  font-family: $fontBold;
}
.button:hover {
  background-color: crimson;
}
.HomePage__button__button:hover {
  background-color: crimson;
}
