.wheel_spin {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.flower_center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-88%, -210%) rotate(45deg);
  width: 8rem;
  z-index: 10;
}
